
.background-untels {
    background: #265087 !important;
}

.background_secondary_untels{
    background-color: #e3b142 !important;
}

.background_complementary_untels{
    background-color: #35aa47 !important;
}

.color_untels{
    color: white !important;
}

.color_secondary_untels{
    color: rgb(111, 9, 9) !important;
}